@import '../../Stylesheets/all';

@mixin login-card-color($color) {
  .portrait {
    border: 3px solid $color;
  }

  .pill-button {
    color: $color;
    border-color: $color;

    &:hover {
      color: $white;
      background-color: $color;
    }
  }
}

.home {
  @extend %app-grid;

  .login {
    grid-column: 2 / 2;

    display: grid;
    grid-template-columns: repeat(auto-fill, 225px);
    grid-gap: 1em;
    justify-content: center;
    align-content: center;

    .login-card {
      display: grid;
      grid-template-areas:
        "portrait"
        "portrait"
        "portrait"
        "portrait"
        "button  ";
      grid-gap: 2em;
      
      padding: 2em;
      height: 300px;
      
      .portrait {
        grid-area: portrait;
        border: 3px solid black;
        border-radius: 50%;
      }

      .pill-button {
        grid-area: button;
      }

      &.red { @include login-card-color($red) }
      &.blue { @include login-card-color($blue) }
      &.green { @include login-card-color($green) }
      &.yellow { @include login-card-color($yellow) }
    }

    .form {
      grid-area: form;
      width: 0px;
    }
  }
}
