@import 'src/Stylesheets/all';

.EditClassModal {
    min-width: 300px;
    max-width: 400px;
    min-height: 200px;

    .modal-header {
        background-color: $blue;
    
        color: $white;
    
        font-weight: 700;
    
        h2 {
            margin: 0;
        }
    }
    
    .input-fields {
        padding: .5em 0;
        
        .label {
            font-weight: 700;
        
            font-size: 18px;
        }
        
        input {
            margin: .5em 0 1em 0;
            font-weight: 500;
        }
        
        select {
            border-top: none;
            border-left: none;
            border-right: none;
            border-bottom: 2px solid rgba(128, 128, 128, 0.425);
            
            width: 100%;
        
            margin: .5em 0;
        
            font-weight: 500;
            font-size: 1em;
            color: rgb(80, 80, 80);
        }

        .class-name {
            width: 100%;
        }
    }
    
    .btn-row {
        margin-top: 0.5em;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-gap: 1em;
        justify-content: center;
        justify-items: stretch;
        width: 100%;
        
        .delete-class {
            grid-column: 1 / 1;

            .confirmation {
                display: none
            }
            
            &.confirm {
                .default {
                    display: none;
                }

                .confirmation {
                    display: inline;
                }
            }
        }
        
        .save-changes { 
            grid-column: 2 / 2;

            .confirmation {
                display: none
            }
            
            &.confirm {
                .default {
                    display: none;
                }

                .confirmation {
                    display: inline;
                }
            }
        }

    }

    .error, .loading {
        grid-column: 1 / -1;
        justify-self: center;
        align-self: center;
    }

    .error {
        color: red;
        font-weight: bold;
        text-align: center;
    }
}