@import 'src/Stylesheets/all';

.Navbar {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: $navbar;

  padding: 1em 2em;
  
  display: grid;
  grid-column-gap: 0.5em;
  grid-auto-flow: row;
  grid-template-columns: repeat(7, 1fr);

  align-content: center;
  align-items: center;
  background-color: $white;
  box-shadow: $dp-six;
  
  
  .logo-img {
    height: 45px;
  }
  
  .dropdown {
    grid-column: 1 / 8;
    grid-row: 3 / 3;

    & > * {
      color: $gray;
    }
  }
}

@media only screen and (min-width: 500px) {
  .Navbar {
    .AccountSettingsDropdownContainer {
      grid-column: 1 / 4;
    }
    
    .logo {
      grid-column: 4 / 4;
      justify-self: center;
      align-self: flex-start;
    }
  
    .ClassListDropdown {
      grid-column: 5 / 8;
      justify-self: flex-end;
    }
    
    .toggle-btn {
      display: none;
    }
  
    .small-screen {
      display: none;
    }
  }
}

@media only screen and (max-width: 499px) {
  .Navbar {
    padding: 1em;
    
    .logo {
      grid-column: 1 / 1;
      justify-self: flex-start;
    }
    
    .ClassListDropdown-button {
      display: none;
    }

    .AccountSettingsDropdownTrigger {
      display: none;
    }

    .toggle-btn {
      display: block;
      grid-column: 7 / -1;
      justify-self: flex-end;
    }

    .AccountSettingsDropdownContainer {
      grid-column: 1 / -1;
      grid-row: 3 / 3;

      .AccountSettingsDropdownMenu {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
      }
    }

    .small-dropdown {
      grid-column: 1 / -1;
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      .AccountSettingsDropdownTrigger {
        display: flex;
      }

      .ClassListDropdown-button {
        display: flex;
      }
    }
  }
}