@import 'src/Stylesheets/all';

.Navbar {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: $navbar;

  padding: 1em 2em;
  
  display: grid;
  grid-gap: 0.5em;
  grid-auto-flow: row;
  grid-template-columns: repeat(7, 1fr);

  align-items: center;
  background-color: $white;
  box-shadow: $dp-six;

  .second-half-of-children {
    display: flex;
    justify-content: flex-start;

    width: 100%;
    grid-column: 1 / 4;
    justify-self: center;
  }
  
  .logo {
    grid-column: 4 / 4;
    justify-self: center;

    .logo-img {
      height: 45px;
    }
  }

  .first-half-of-children {
    display: flex;
    justify-content: flex-end;

    width: 100%;
    grid-column: 5 / 8;
    justify-self: center;
  }
  
  .toggle-btn {
    display: none;
  }
}

@media (max-width: 499px) {
  .Navbar {
    padding: 1em;

    .second-half-of-children {
      display: none;
    }

    .first-half-of-children {
      display: none;
    }

    .logo {
      grid-column: 1 / 1;
      justify-self: flex-start;
    }

    .toggle-btn {
      display: block;
      grid-column: -1 / -1;
      justify-self: flex-end;      

      outline: none;
      background-color: transparent;
      border: none;

      padding: .5em;
      margin-left: 1em;

      &:hover {
        background-color: $very-light-gray;
        border-radius: 50%;
      }
    }

    .Dropdown {
      .ClassListDropdown-button {
        display: inherit;
      }
      
      .AccountSettingsDropdown-button {
        display: inherit;
      }
    }
  }
}