.Input {
  font-family: 'Roboto', sans-serif;
    font-size: 1em;
    font-weight: 900;

    background-color: #FFFFFF;
    
    border: none;
    border-bottom: 2px solid rgba(128, 128, 128, 0.425);
    
    color: rgb(80, 80, 80);

    width: 90%;
}