.classes-grid {
  display: grid;
  grid-template-rows: minmax(auto, auto);
  grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
  grid-gap: 1em;
  align-items: center;

  .title {
    grid-row: 1 / 1;
    grid-column: 1 / -1;
  }
}