@import '../../Stylesheets/all';

.test-number {
  display: grid;
  
  // change on active
  transition: max-height 0.3s;
  max-height: 150px;
  
  .header {
    // change on active
    opacity: 0.8;

    .text {
      font-size: 3.25rem;
    }
  }
  
  .operators-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-content: center;
    justify-items: center;
    justify-self: stretch;
    padding: 0 1rem 1rem 1rem;
    font-size: 2.5rem;
    
    // Change on active
    transition: opacity 0.3s;
    opacity: 0.3;
  }
  
  .button-container {
    grid-column: 1/-1;
    display: grid;
    align-content: center;
    justify-items: center;
    margin: 0 1em;

    // Change on active
    transition: height 0.3s 0.1s,
                border-top 0.3s 0.1s,
                padding 0.3s 0.1s,
                opacity 0s 0.1s,
                grid-template-columns 0s 0.1s;
    opacity: 0;
    height: 0px;
    border-top: 2px solid white;
  }

  .button {
    color: $green;
    border-color: $green;

    // Change on active
    transition: transform 0.3s 0.1s;
    transform: scaleY(0);
  }

  .button:hover {
    color: $white;
    background-color: $green;
  }

  .error-message {
    color: $red;

    // Change on error
    transition: all 0.3s;
    opacity: 0;
    height: 0;
    margin: 0;
    transform: scaleY(0);
  } 
}

.test-number.active {
  max-height: 250px;

  .header {
    opacity: 1;
  }

  .operators-container {
    opacity: 1;
  }

  .button-container {
    opacity: 1; 
    transition: border-top 0.3s,
                padding 0.3s,
                height 0.3s,
                opacity 0s 0.1s;
    border-top: 2px solid rgb(184, 184, 184);
    padding: 1em;

    // change on active
    height: 70px;
  }

  .button {
    transition: transform 0.3s;
    transform: scaleY(1);
  }
}

.test-number.active.error {
  max-height: 300px;

  .button-container {
    height: 97px;
  }
  
  .error-message {
    display: block;

    opacity: 1;
    height: 15px;
    margin: 11px 0 0 0;
    transform: scaleY(1);
  }
}

.test-number:hover {
  box-shadow: $dp-eight;
}

@media (max-width: 300px) {
  .test-number {
    display: grid;
    grid-template-columns: 2fr 4fr;
  
    .operators-container {
      padding: 0 1rem 0 0;
      font-size: 3.5rem;
    }
  }
}