@import '../../Stylesheets/all';

.test-number {
  display: grid;

  .operators-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-content: center;
    justify-items: center;
    justify-self: stretch;
    padding: 0 1rem 1rem 1rem;
    font-size: 2.5rem;
  }
  
  .button-container {
    visibility: hidden;
    height: 0px;
  }

  .button-container.active {
    visibility: visible;
    display: grid;
    grid-column: 1/-1;
    justify-items: center;
    padding: 1em;
    margin: 0 1em;
    border-top: 2px solid rgba(0, 0, 0, 0.15);
    height: 70px;

    .button {
      color: $green;
      border-color: $green;
    }

    .button:hover {
      color: $white;
      background-color: $green;
    }
  }
}

.test-number:hover {
  box-shadow: $dp-eight;
}

@media (max-width: 536px) {
  .test-number {
    display: grid;
    grid-template-columns: 2fr 4fr;
  
    .operators-container {
      padding: 0 1rem 0 0;
      font-size: 3.5rem;
    }
  }
}