@import '../../Stylesheets/all';

.test-number {
  display: grid;

  .operators-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-content: center;
    justify-items: center;
    justify-self: stretch;
    padding: 0 1rem 1rem 1rem;
    font-size: 2.5rem;
    
    // Change on active
    transition: opacity 0.3s;
    opacity: 0.15;
  }
  
  .button-container {
    display: grid;
    grid-column: 1/-1;
    justify-items: center;
    margin: 0 1em;

    // Change on active
    transition: height 0.3s 0.1s,
                border-top 0.3s 0.1s,
                padding 0.3s 0.1s;
    height: 0px;
    border-top: 2px solid white;
  }

  .button {
    color: $green;
    border-color: $green;

    // Change on active
    transition: transform 0.3s 0.1s,
                margin-top 0.3s 0.1s;
    transform: scaleY(0);
    margin-top: -25px;
  }

  .button:hover {
    color: $white;
    background-color: $green;
  }
}

.test-number.active {
  .operators-container {
    opacity: 0.8;
  }

  .button-container {
    transition: border-top 0.3s,
                padding 0.3s,
                height 0.3s;
    border-top: 2px solid rgb(184, 184, 184);
    padding: 1em;
    height: 70px;
  }

  .button {
    transition: transform 0.3s,
                margin-top 0.3s;
    transform: scaleY(1);
    margin-top: -3px;
  }
}

.test-number:hover {
  box-shadow: $dp-eight;
}

@media (max-width: 536px) {
  .test-number {
    display: grid;
    grid-template-columns: 2fr 4fr;
  
    .operators-container {
      padding: 0 1rem 0 0;
      font-size: 3.5rem;
    }
  }
}