@import 'src/Stylesheets/all';

.ClassDetail {
    grid-column: 2 / 2;

    display: grid;
    grid-row-gap: 1em;
    grid-template-areas:
        'classes         classes         classes       filler          filler'
        'classcode       classcode       classcode       classcode       classcode'
        'links           links           links           links           links'
        'pendingrequests pendingrequests pendingrequests pendingrequests pendingrequests'
        'students        students        students        students        students'
        'pendinginvitations pendinginvitations pendinginvitations pendinginvitations pendinginvitations';
    align-content: flex-start;
    justify-content: stretch;
    justify-items: center;

    padding-bottom: 3em;

    h2 {
        margin-bottom: 0;
    }

    .classes {
        grid-area: classes;
        grid-column: 1 / -1;
        grid-row: 1 / 1;
        align-self: center;
        justify-self: flex-start;
        
        color: $gray;

        a:visited {
            color: $gray;
        }

        .material-icons {
            transform: translateY(3px);
        }
    }

    .class-name {
        grid-area: classname;
        grid-column: 1 / -1;
        grid-row: 1 / 1;
        align-self: center;
        justify-self: center;
    }
    
    .class-code {
        grid-area: classcode;
        display: flex;
        align-items: center;
        color: $gray;
        margin-top: -3em;

        .material-icons {
            margin-left: 0.5em;
            height: 24px;
        }

        &:hover {
            color: $blue;
            cursor: pointer;
        }

        &:active {
            transform: translateY(2px);
        }
    }

    .Header {
        grid-area: links;
    }
    
    .StudentReports {
        grid-area: students;
    }

    .PendingRequests {
        grid-area: pendingrequests;
    }

    .PendingInvitations {
        grid-area: pendinginvitations;
    }
    
    .section-header {
        display: flex;
        flex-direction: row;
        align-items: flex-end;

        h2 {
            margin: 3em 0 0 0;
        }
        
        .description-button {
            font-weight: bold;
            padding: 0.25em 1em;
            margin-left: 1em;
        }
    }

    .loading {
        grid-column: 1 / -1;
        justify-self: center;
        align-self: center;
    }

    // SHARED
    .StudentsDescription, .PendingInvitationsDescription {
        width: 725px; // Match the size of the student cards
        color: $gray;
        font-weight: bold;
        padding: 1em;
        margin-top: -1em;
        
        ul {
            list-style-type: none;
        }
        
        .important {
            color: $black;
        }
    }

    .StudentsDescription {
        .number {
            margin: 0 0.5em 0.5em 0;
    
            display: inline;
            align-content: center;
            justify-content: center;
    
            border: none;
            font-size: 24px;
            font-weight: 500;
    
            width: 36px;
            height: 36px;
    
            border-radius: 50%;
    
            outline: none;
    
            &.not-taken {
                background-color: $very-light-gray;
                color: $white;
            }
    
            &.in-progress {
                background-color: $light-red;
                color: $white;
            }
    
            &.passed-once {
                background-color: $light-yellow;
                color: $white;
            }
    
            &.passed-twice {
                background-color: $light-yellow;
                color: $white;
            }
    
            &.passed {
                background-color: $green;
                color: $white;
            }
        }
    }
}

.ParentInvite {
    display: none;
}

@media print {
    .ClassDetail {
        display: none !important;
    }
    
    .ParentInvite {
        display: inherit !important;
    }
  }