@import 'src/Stylesheets/all';

.ClassDetail {
    grid-column: 2 / 2;

    display: grid;
    grid-row-gap: 1em;
    grid-template-areas:
        'classes         classes         classname       filler          filler'
        'buttons         buttons         buttons         buttons         buttons'
        'students        students        students        students        students'
        'pendingstudents pendingstudents pendingstudents pendingstudents pendingstudents'
        'invitations     invitations     invitations     invitations     invitations';
    align-content: flex-start;
    justify-content: stretch;

    h2 {
        margin-bottom: 0;
    }

    .classes {
        grid-area: classes;
        grid-column: 1 / -1;
        grid-row: 1 / 1;
        align-self: center;
        justify-self: flex-start;
        
        color: $gray;

        a:visited {
            color: $gray;
        }

        .material-icons {
            transform: translateY(3px);
        }
    }

    .class-name {
        grid-area: classname;
        grid-column: 1 / -1;
        grid-row: 1 / 1;
        align-self: center;
        justify-self: center;
    }

    .buttons {
        grid-area: buttons;
        display: flex;
        flex-direction: row;
        margin-right: -1em;

        .detail-btn {
            flex: 1 1 0;
            margin-right: 1em;

            background-color: $white;
            color: $gray;

            border: 3px solid $gray;

            padding: 1em .5em;
            font-size: 1em;
            font-weight: 600;
            border-radius: 12px;

            text-align: center;

            &:hover {
                background-color: $blue;
                color: $white;
                border-color: $blue;
            }
        }
    }
    
    .students {
        grid-area: students;
        display: grid;
        grid-auto-flow: row;
        grid-row-gap: 2em;
        justify-content: center;

        .new-student-card {
            width: 757px;
        }

        .section-header {
            h2 {
                margin-top: 1em;
            }
        }
    }

    .pending-students {
        grid-area: pendingstudents;
        
        width: 757px; // Match the size of the student cards
        justify-self: center;
        
        display: grid;
        grid-auto-flow: row;
        grid-row-gap: 2em;
        justify-content: stretch;
    }
    
    .invitations {
        grid-area: invitations;
        
        width: 757px; // Match the size of the student cards
        justify-self: center;
        
        display: grid;
        grid-auto-flow: row;
        grid-row-gap: 2em;
        justify-content: stretch;
        
        .new-invite-card {
            height: 100px;
            margin-bottom: 3em;
            
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 3fr 3fr 1fr;
            
            h2 {
                margin-top: 0;
                grid-row: 1 / 1;
                grid-column: 2 / 2;
                align-self: flex-end;
            }
        }
    }
    
    .delete {
        grid-area: settings;
        justify-self: flex-end;
        
        border: none;
        background-color: transparent;
        
        margin: 0;
        
        &:hover {
            cursor: pointer;
        }
        
        .confirmation {
            visibility: hidden;
        }
        
        &.confirm {
            color: $red;
            
            .confirmation {
                visibility: visible;
            }
        }
    }

    .loading {
        grid-column: 1 / -1;
        justify-self: center;
        align-self: center;
    }

    .pending-card {
        display: grid;
        grid-template-areas: 'studentname studentname studentname email email email date delete';
        align-items: center;
        justify-items: center;
        padding: 0.25em 1em;
        
        .student-name {
            grid-area: studentname;

            color: $black;
        }

        .email {
            grid-area: email;

            color: $gray;
        }
        
        .date {
            grid-area: date;

            color: $gray;
        }

        .delete {
            grid-area: delete;

            text-align: end;
            border: none;
            background-color: transparent;
            
            &:hover {
                cursor: pointer;
            }
        }
    }

    .section-header {
        display: flex;
        flex-direction: row;
        align-items: flex-end;

        h2 {
            margin: 3em 0 0 0;
        }
        
        .description-button {
            font-weight: bold;
            padding: 0.25em 1em;
            margin-left: 1em;
        }
    }

    .description-card {
        max-width: 725px;
        color: $gray;
        font-weight: bold;
        padding: 1em;
        margin-top: -1em;

        ul {
            list-style-type: none;

            .number {
                display: inline;
            }
        }

        .important {
            color: $black;
        }
    }

    .number {
        margin: 0 0.5em 0.5em 0;

        display: flex;
        align-content: center;
        justify-content: center;

        border: none;
        font-size: 24px;
        font-weight: 500;

        width: 36px;
        height: 36px;

        border-radius: 50%;

        outline: none;

        &.not-taken {
            background-color: $very-light-gray;
            color: $white;
        }

        &.in-progress {
            background-color: $light-red;
            color: $white;
        }

        &.passed-once {
            background-color: $light-yellow;
            color: $white;
        }

        &.passed-twice {
            background-color: $light-yellow;
            color: $white;
        }

        &.passed {
            background-color: $green;
            color: $white;
        }
    }
}