@import 'src/Stylesheets/all';

.ClassDetail {
    grid-column: 2 / 2;

    display: grid;
    grid-row-gap: 1em;
    grid-template-areas:
        'classes         classes         classname       filler          filler'
        'buttons         buttons         buttons         buttons         buttons'
        'students        students        students        students        students'
        'pendinginvitations pendinginvitations pendinginvitations pendinginvitations pendinginvitations';
    align-content: flex-start;
    justify-content: stretch;

    padding-bottom: 3em;

    h2 {
        margin-bottom: 0;
    }

    .classes {
        grid-area: classes;
        grid-column: 1 / -1;
        grid-row: 1 / 1;
        align-self: center;
        justify-self: flex-start;
        
        color: $gray;

        a:visited {
            color: $gray;
        }

        .material-icons {
            transform: translateY(3px);
        }
    }

    .class-name {
        grid-area: classname;
        grid-column: 1 / -1;
        grid-row: 1 / 1;
        align-self: center;
        justify-self: center;
    }

    .buttons {
        grid-area: buttons;
        display: flex;
        flex-direction: row;
        margin-right: -1em;

        .detail-btn {
            flex: 1 1 0;
            margin-right: 1em;

            background-color: $white;
            color: $gray;
            opacity: 1;

            border: 3px solid $gray;

            padding: 1em .5em;
            font-size: 1em;
            font-weight: 600;
            border-radius: 12px;

            text-align: center;

            &:hover {
                background-color: $blue;
                color: $white;
                border-color: $blue;
            }
        }
    }
    
    .students {
        grid-area: students;

        display: grid;
        grid-auto-flow: row;
        grid-row-gap: 2em;
        justify-content: center;

        .new-student-card {
            width: 757px;
        }

        .section-header {
            h2 {
                margin-top: 1em;
            }
        }

        .number {
            margin: 0 0.5em 0.5em 0;

            display: flex;
            align-content: center;
            justify-content: center;

            border: none;
            font-size: 24px;
            font-weight: 500;

            width: 36px;
            height: 36px;

            border-radius: 50%;

            outline: none;

            &.not-taken {
                background-color: $very-light-gray;
                color: $white;
            }

            &.in-progress {
                background-color: $light-red;
                color: $white;
            }

            &.passed-once {
                background-color: $light-yellow;
                color: $white;
            }

            &.passed-twice {
                background-color: $light-yellow;
                color: $white;
            }

            &.passed {
                background-color: $green;
                color: $white;
            }
        }
    }

    .pending-invitations {
        grid-area: pendinginvitations;
        
        width: 757px; // Match the size of the student cards
        justify-self: center;
        
        display: grid;
        grid-auto-flow: row;
        grid-row-gap: 2em;
        justify-content: stretch;

        .new-invite-card {
            height: 69px;
    
            display: flex;
            flex-direction: row;
            align-content: center;
            justify-content: center;
            
            .text {
                margin: 0 1em 0 0;
                align-self: center;
            }
        }
    }
    
    .section-header {
        display: flex;
        flex-direction: row;
        align-items: flex-end;

        h2 {
            margin: 3em 0 0 0;
        }
        
        .description-button {
            font-weight: bold;
            padding: 0.25em 1em;
            margin-left: 1em;
        }
    }

    .description-card {
        width: 725px; // Match the size of the student cards
        color: $gray;
        font-weight: bold;
        padding: 1em;
        margin-top: -1em;

        ul {
            list-style-type: none;

            .number {
                display: inline;
            }
        }

        .important {
            color: $black;
        }
    }
    
    .pending-card {
        display: grid;
        grid-template-areas: 'studentname studentname studentname email email email date icon delete';
        align-items: center;
        justify-items: center;
        padding: 0.25em 1em;
        
        .student-name {
            grid-area: studentname;

            color: $black;
        }

        .email {
            grid-area: email;

            color: $gray;
        }
        
        .date {
            grid-area: date;

            color: $gray;
        }

        // .delete is supposed to be defined twice
        // This part is nested to target the description card
        .delete {
            grid-area: delete;

            text-align: end;
            border: none;
            background-color: transparent;
            
            &:hover {
                cursor: pointer;
            }
        }
    }
    
    .icon {
        grid-area: icon;

        height: 24px;
        width: 24px;

        padding: 5px;
        border-radius: 5px;

        &.yellow {
            background-color: $very-light-yellow;
            border: 3px solid $yellow;
        }

        &.green {
            background-color: $very-light-green;
            border: 3px solid $green;
        }
    }
    
    .delete {
        grid-area: settings;
        justify-self: flex-end;
        
        border: none;
        background-color: transparent;
        
        margin: 0;
        
        &:hover {
            cursor: pointer;
        }
        
        .confirmation {
            visibility: hidden;
        }
        
        &.confirm {
            color: $red;
            
            .confirmation {
                visibility: visible;
            }
        }
    }

    .loading {
        grid-column: 1 / -1;
        justify-self: center;
        align-self: center;
    }
}

.ParentInvite {
    display: none;
}

@media print {
    .ClassDetail {
        display: none !important;
    }
    
    .ParentInvite {
        display: inherit !important;
    }
  }