@import '../../Stylesheets/all';

.take-test {
    grid-column: 2 / 2;
    justify-self: center;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    justify-items: center;
    justify-content: center;

    padding: 1em 2em;

    p {
        font-size: 4em;
        font-weight: 700;

        padding: 0;
        margin: 0;
    }

    .equals {
        display: none;
    }
    
    .question-problem {
        grid-row: 1 / 1;

        display: grid;
        justify-content: center;
        grid-template-columns: 1fr 3fr;
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 2em;

        max-width: 50%;

        .number-top {
            grid-column: 2 / 2;
            grid-row: 1 / 1;

            direction: rtl;

            color: red;
        }

        .operator {
            grid-column: 1 / 1;
            grid-row: 2 / 2;
        }    

        .number-bottom {
            grid-column: 2 / 2;
            grid-row: 2 / 2;

            direction: rtl;
        }

        .input-answer {
            grid-column: 1 / -1;
            grid-row: 3 / 3;
            max-width: 100%;
    
            font-size: 4em;
            font-weight: 700;
    
            border: none;
            outline: none;
            
            border-top: 3px solid black;
        }

        .input-answer:focus {
            caret-color: transparent;
        }
    }
    
    .line-break {
        padding: 0;
        margin: 0;

        border-bottom: 3px solid black;
    }

    .button-container {
        grid-column: 1 / -1;

        display: grid;
        grid-template-columns: repeat(3, 1fr);

        .submit-button {
            grid-column: 2 / 2;
            margin: 1em;
        }

        .submit-button:hover {
            color: $white;
            background-color: $green;
            border-color: $green;
        }
    }

    &.active-keyboard {
        .button-container {
            display: none;
        }
    }
}

/*  Mobile  */
@media only screen and (max-width: 399px) {
    .take-test {
        box-shadow: none;

        .button-container {
            display: none;
        }

        &.active-keyboard {
            grid-column: 2 / 2;
            justify-self: center;
            grid-template-columns: 3fr 2fr;
            grid-template-rows: 1fr;
        
            padding: 1em;
        
            p {
                font-size: 3em;
            }
        
            .question-problem {
                display: flex;
                justify-content: space-between;
                align-items: center;
                border-bottom: none;
        
                .equals {
                    display: block;
                }
            }
        
            .input-answer {
                font-size: 3em;

                border: none;
            }
        }
    }
}

/*  Tablet  */
@media only screen and (min-width: 400px) {
    .take-test {
        max-width: 600px;
        width: 100%;

        padding: 2em 4em;

        .button-container {
            display: none;
        }
    }
}

@media only screen and (min-width: 500px) { 
    .take-test {
        .button-container {
            display: grid;
        }
    }
}

/*  Desktop  */
@media only screen and (min-width: 1200px) {}