@import 'src/Stylesheets/all';

/* Mobile */ 
@media only screen and (max-width: 499px) {
  .Dropdown {
    grid-column: 1 / -1;
    grid-row: 3 / 3;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: flex-end;

    background-color: $white;
    border-top: 2px solid rgba(0, 0, 0, 0.25);
  }
}

/* Tablet */ 
@media only screen and (min-width: 500px) {
  .Dropdown {
    display: none;
  }
}

/* Desktop */ 
@media only screen and (min-width: 1200px) {
  .Dropdown {
    display: none;
  }
}
