@import 'src/Stylesheets/all';

.AddStudentModal {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;

    .header {
        background-color: $blue;
        color: $white;
    }

    .account-card {
        padding: 0 1em;
        margin: 0.5em 0;

        &:hover {
            border: 2px solid rgba($color: $blue, $alpha: 1.0);
            cursor: pointer;
        }

        &.selected {
            border: 4px solid rgba($color: $blue, $alpha: 1.0);
        }
    }

    .class-code {
        .material-icons {
            margin-left: 0.5em;
            transform: translateY(5px);
        }

        &:hover {
            color: $blue;
            cursor: pointer;
        }

        &:active {
            transform: translateY(2px);
        }
    }

    .btn-row {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        justify-items: center;
        align-items: stretch;

        margin: 1em;

        .cancel-button {
            border: none;

            &:hover {
                color: $red;
                background: transparent;
            }
        }
    }
}




.current-account {
    padding: 0 1em;
    margin: .5em 0;

    border: 2px solid rgba($color: #000000, $alpha: 0.25);
    border-radius: 12px;

    box-shadow: $dp-two;

    &:hover {
        border: 2px solid rgba($color: $blue, $alpha: 1.0);
    }
}

.no-account {
    padding: 0 1em;
    margin: .5em 0;

    border: 2px solid rgba($color: #000000, $alpha: 0.25);
    border-radius: 12px;

    box-shadow: $dp-two;

    &:hover {
        border: 2px solid rgba($color: $blue, $alpha: 1.0);
    }
}

.btn-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;

}

.cancel {
    grid-column: 1 / 1;
}

.continue {
    grid-column: 2 / 2;

    color: $white;
    background-color: $green;
}