@import 'src/Stylesheets/all';

.LinkList {
  display: flex;
  justify-content: flex-start;
  padding: 0 2em;

  .link {
    font-weight: bold;
    color: $yellow;
    border-right: 2px solid $gray;
    padding-right: 1em;
    padding-left: 1em;
    
    &:first-child {
      border-left: 2px solid $gray;
    }

    &:hover {
      cursor: pointer;
    }
  }
}