.select-test-numbers {
  grid-column: 2 / 2;
  
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-template-rows: minmax(auto, auto);
  grid-gap: 1em;
}

/* Mobile */ 
@media only screen and (max-width: 399px) {}

/* Tablet */ 
@media only screen and (min-width: 400px) {}

/* Desktop */ 
@media only screen and (min-width: 1200px) {}