@import '../../../../../../Stylesheets/all';

.signup-modal {
  grid-column: 1 / -1;

  .header.signup-modal-header {
    background-color: $blue;
    color: $white;

    padding: 1em;
  }

  .content.user-types {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    padding: 0 2em;

    h3 {
      grid-column: 1 / -1;
      grid-row: 1 / 1;
    }
  
    .button-row {
      grid-column: 1 / -1;
      grid-row: 2 / 2;
      
      width: 100%;

      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(75px, 1fr));
      
      grid-gap: 1em;
    }

    .button-row.signup-modal-button {

      &.active {
        background-color: $blue;
        border: solid 3px $light-blue;
        background-size: 100%;
        color: $white;

        &:hover {
          background: none;
          background-color: $light-blue;
          border: solid 3px $very-light-blue;
        }
      }
    }
  } 

  .content.inputs {
    display: grid;
    grid-gap: 1em;

    padding: 1em 2em;

    .input {
      font-family: 'Roboto', sans-serif;
        font-size: 1em;
        font-weight: 900;
  
        background-color: #FFFFFF;
        
        border: none;
        border-bottom: 2px solid rgba(128, 128, 128, 0.425);
        
        color: rgb(80, 80, 80);
  
        width: 90%;
    }
  }

  .error {
    color: $red;
    font-weight: 600;
  }

  .bottom-content {
    width: 90%;
    margin: auto auto;
    border-top: solid 2px $light-gray;
  }

  .content.bottom-buttons {

    padding: 1em 2em;

    .cancel-button {
      padding-top: .5em;
      border: none;
    }
  }
}
