@import 'src/Stylesheets/all';

html {
    height: 100vh;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto', sans-serif;

    &.modal-open {
        overflow: hidden;
    }
}

a {
    text-decoration: none;
}

hr {
    border: 1px solid $very-light-gray;
}

#root {
    height: 100%;
}

.App {
    height: 100%;
}

.LoadingBar {
    position: fixed;
    top: 0;
    height: 3px;
    background-color: $light-blue;
    z-index: $loadingBar;
}