@import 'src/Stylesheets/all';

.TitleModal {
    max-width: 600px;
    grid-row: 2 / 2;

    justify-self: center;
    align-self: center;

    padding: 2em;
  
    .title-header {
        grid-column: 1 / -1;
        grid-row: 1 / 1;

        justify-self: center;
        align-self: center;

        font-weight: 700;

        margin: 0;
    }

    .title-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        .title-sub {
            font-weight: 600;
            margin: 2em 0 0 0;
        }
    }
}

/*  Mobile  */
@media only screen and (max-width: 399px) {

    .title-modal {
        width: 90vw;
        height: auto;

        .title-header {
            font-size: 24px;
        }

        .content {
            margin-top: 0;
        }
    }
}

/*  Tablet  */
@media only screen and (min-width: 400px) {

    .title-modal {
        max-width: 600px;
        margin: 0 1em;
    }
        .title-header {
            font-size: 36px;
        }

        .content {
            margin-top: 0;
        }
}

/*  Desktop  */
@media only screen and (min-width: 1200px) {}