@import '../../Stylesheets/all';

.card {
  background-color: #FFFFFF;
  border-radius: .5rem;
  box-shadow: $dp-four;

  .header {
    padding: 1rem;

    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;

    display: grid;
    grid-template-columns: 1fr;

    .text {
      justify-self: center;
      align-self: center;

      font-weight: 900;
      font-size: 3rem;
      margin: 0;
    }
  }
}

.card.hover {
  transition: box-shadow 0.3s cubic-bezier(.25,.8,.25,1);
}

.card.hover:hover {
  box-shadow: $dp-eight;
}