@import '../../Stylesheets/all';

.start-test {
  grid-column: 2;

  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  justify-items: center;
  text-align: center;
  
  .header {
    justify-self: stretch;

    padding: 1em;
    background-color: $blue;

    color: $white;
  }

  .buttons {
    padding: 3em;
    display: grid;
    grid-gap: 3em;

    .start-button {
      color: $blue;
      border-color: $blue;
    }

    .start-button:hover {
      color: $white;
      background-color: $blue;
    }

    .cancel-button {
      color: $red;
      border: none;
    }

    .cancel-button:hover {
      color: $white;
      background-color: $red;
    }

    button {
      padding: 1em 2em;
    }
  }
}

/* Mobile */ 
@media only screen and (max-width: 399px) {
  .start-test {
    margin-top: -30px;
    box-shadow: none;
    grid-column: 1/-1;
  }
}

/* Tablet */ 
@media only screen and (min-width: 400px) {}

/* Desktop */ 
@media only screen and (min-width: 1200px) {
}