@import '../../Stylesheets/all';

.start-test {
  grid-column: 2;
  justify-self: center;

  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  justify-items: center;
  text-align: center;

  width: 100%;
  height: 100%;
  
  // Max width/height is used to keep is the same size as TakeTest
  max-width: 600px;
  max-height: 440px;
  
  .header {
    justify-self: stretch;

    padding: 5em;
    
    background-color: $blue;
    color: $white;
  }

  .buttons {
    padding: 3em;
    display: grid;
    grid-gap: 3em;

    .start-button {
      color: $green;
      border-color: $green;
    }

    .start-button:hover {
      color: $white;
      background-color: $green;
    }

    .cancel-button {
      color: $light-red;
      border: none;
    }

    .cancel-button:hover {
      color: $red;
      background-color: transparent;
    }
  }
}

/* Mobile */ 
@media only screen and (max-width: 399px) {
  .start-test {
    margin-top: -30px;
    box-shadow: none;
    grid-column: 1/-1;
  }
}

/* Tablet */ 
@media only screen and (min-width: 400px) {}

/* Desktop */ 
@media only screen and (min-width: 1200px) {
}