@import 'src/Stylesheets/all';

.FactFluency {
  @extend %app-grid;

  padding-top: 115px;

  .loading {
    grid-column: 1 / -1;
    justify-self: center;
  }

  .StudentCard {
    margin-bottom: 3em;
  }
}