@import 'src/Stylesheets/all';

.ClassListDropdown-button {
  margin: 0;
  padding: 0.5em;
  display: flex;
  justify-content: center;
  align-content: center;
  color: $gray;

  &.active {
    background-color: $very-light-blue;
  }

  .icon {
    vertical-align: middle;
    margin-left: 0.25em;
  }
}

.ClassListDropdown {
  /* Marked as important to override the default overlay styling */
  top: 0 !important;
  transform: translate(0, 0) !important;
  min-width: 300px;
  margin-top: 100px !important;

  padding-bottom: 0.75em;

  .header {
    background-color: $blue;
    color: $white;

    h2 {
      margin: 0;
    }
  }

  .content {
    ul {
      width: 100%;
      list-style-type: none;
      margin: 0;
      padding: 0;
      
      li {
        padding: 0 0 0.25em 0;
        border-bottom: 2px solid $very-light-gray;
        margin-top: 0.25em;
        
        button {
          color: $gray;
          opacity: 1;
        }

        &:first-child {
          margin: 0;
        }

        .active {
          background-color: $very-light-blue;
          border-radius: 5px;
        }
      }

      .join-class, .invitations {
        margin-top: 0.5em;
        padding: 0;
        height: 1.5em;
        border: none;
        display: flex;
        justify-content: stretch;
        align-content: center;
        
        .link {
          width: 100%;
          height: 2em;
          padding-left: 0.5em;
          border-radius: 5px;
          opacity: 1;
          color: $gray;
        }
        
        .button {
          width: 2.25em;
          height: 2.25em;
          padding: 0;
          margin: -3px -10px 0 0;

          color: $white;
          opacity: 1;
        }
      }
      
      .invitations {
        .link {
          background-color: $very-light-yellow;
        }

        .button {
          background-color: $yellow;
          border-color: $yellow;
        }
      }

      .join-class {
        .link {
          background-color: $very-light-green;
        }

        .button {
          background-color: $green;
          border-color: $green;
        }

        &.with-invitations {
          margin-top: 1.25em;
        }
      }
    }
  }
}

@media only screen and (max-width: 625px) {
  .ClassListDropdown {
    transform: translate(-50%, 0) !important;
  }
}