@import 'src/Stylesheets/all';

.PendingInvitations {
  width: 757px; // Match the size of the student cards
  
  display: grid;
  grid-auto-flow: row;
  grid-row-gap: 2em;
  justify-content: stretch;

  .new-invite-card {
      height: 69px;

      display: flex;
      flex-direction: row;
      align-content: center;
      justify-content: center;
      
      .text {
          margin: 0 1em 0 0;
          align-self: center;
      }
  }
}