$red: rgb(234, 67, 53);
$light-red: rgba(234, 67, 53, 0.75);
$very-light-red: rgba(234, 67, 53, 0.25);

$blue: rgb(33, 150, 243);
$light-blue: rgba(33, 150, 243, 0.75);
$very-light-blue: rgba(33, 150, 243, 0.25);

$green: rgb(76, 175, 80);
$light-green: rgba(76, 175, 80, 0.75);
$very-light-green: rgba(76, 175, 80, 0.25);

$yellow: rgb(255, 193, 7);
$light-yellow: rgba(255, 193, 7, 0.75);
$very-light-yellow: rgba(255, 193, 7, 0.25);

$gray: rgb(158, 158, 158);
$light-gray: rgba(158, 158, 158, 0.75);
$very-light-gray: rgba(158, 158, 158, 0.25);

$black: rgb(0, 0, 0);
$light-black: rgba(0, 0, 0, 0.75);
$very-light-black: rgba(0, 0, 0, 0.25);

$white: #FFFFFF;
