.operator-div {
    display: grid;
}

.operator {
    display: grid;

    width: 48px;
    height: 48px;

    padding: 0;
    margin: 0;

    user-select: none;
}

.operator:hover {
    border-bottom: solid 3px rgb(0, 0, 0);
    border-radius: 50%;
}