@import '../../Stylesheets/all';

.navbar {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1;

  height: 80px;
  width: 100%;
  padding: 15px;
  
  display: flex;
  justify-content: space-between;
  align-items: center;  
  background-color: #FFFFFF;
  box-shadow: $dp-six;
}

.navbar-margin-top {
  margin-top: 104px;
  width: 100%;
}

@media (max-width: 399px) {
  .navbar {
    .logout-link {
      display: none;
    }
  }
}