@import '../../Stylesheets/all';

.navbar-margin-top {
  margin-top: 104px;
  width: 100%;
}

.navbar {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1;

  min-width: 100%;
  padding: 1em 2em;
  
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;

  align-items: center;  
  background-color: #FFFFFF;
  box-shadow: $dp-six;

  /* Logout Link Styles */
  .logout-link {
    grid-column: 1 / 1;
    justify-self: flex-start;

    cursor: pointer;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.5);
  }

  .logout-link:hover {
    color: $blue;
  }

  /* Logo Styles */
  .logo {
    grid-column: 2 / 2;
    justify-self: center;
  }

  
  /* Username Styles */
  .username {
    grid-column: 3 / 3;
    justify-self: flex-end;
    
    cursor: pointer;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.5);
  }
  
  .user-icon {
    vertical-align: middle;
    padding-right: .25em;
    color: rgba(0, 0, 0, 0.5);
    
    cursor: pointer;
  }
  
  .toggle-btn {
    display: none;
  }
  .dropdown {
    display: none;
  }
}

@media (max-width: 499px) {
  .navbar {
    padding: 1em;

    .logout-link {
      display: none;
    }

    .logo {
      grid-column: 1 / 1;
      justify-self: flex-start;
    }

    .username {
      display: none;
    }

    .toggle-btn {
      display: block;
      grid-column: 3 / 3;
      justify-self: flex-end;      

      outline: none;
      background-color: transparent;
      border: none;

      padding: .5em;

      &:hover {
        background-color: rgba(0, 0, 0, 0.15);
        border-radius: 50%;
      }
    }
    
    .dropdown {
      .username {
        display: none;
      }

      &.active {
        display: grid;
        
        grid-column: 1 / -1;
        margin-top: 1em;
        padding-top: 1em;

        border-top: 2px solid rgba(0, 0, 0, 0.25);

        .username {
          justify-self: flex-start;
          grid-column: 1 / -1;
          display: block;
          margin: 0;
        }

        .logout-link {
          display: block;
        }
      }
    }
  }
}