.navbar {
  position: fixed;
  top: 0px;
  z-index: 1;
  width: 100%;
  height: 80px;
  padding: 16px;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  justify-items: center;
  align-items: center;
  background-color: #FFFFFF;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.2);
}

.navbar-margin-top {
  margin-top: 104px;
}

@media (max-width: 399px) {
  .navbar {
    grid-template-columns: 1fr 1f;
    justify-items: center;
  }

  .navbar-margin-top {
    margin-top: 80px;
  }
}