@import '../../shared';

.number {
  display: grid;
  box-shadow: $dp-one;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  border-radius: 0.5em;
  justify-items: center;
  padding: 6px;
}

.number:hover {
  box-shadow: $dp-nine;
}

.number-operators {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-content: center;
  justify-items: center;
  justify-self: stretch;
}