@import 'src/Stylesheets/all';

.CourseInvitations {
  grid-column: 2 / -2;
  text-align: center;

  .header {
    background-color: $blue;
    color: $white;
  }

  .invitation-card {
    display: grid;
    grid-template-areas:
      'header  header'
      'decline accept';

    padding: 1em;
    width: 90%;
    
    .card-header {
      grid-area: header;
      margin-top: 0;
    }

    .decline {
      grid-area: decline;
      margin-right: 0.5em;

      .confirmation {
        display: none;
      }
    }

    .accept {
      grid-area: accept;
      margin-left: 0.5em;

      .confirmation {
        display: none;
      }
    }

    .confirm-button {
      .default {
        display: none;
      }

      .confirmation {
        display: inline;
      }
    }
  }
}