@import '../../../../../../Stylesheets/all';

.create-class-card {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: 1fr;

  background: $white;

  border: 3px dashed $gray;
  box-shadow: none;

  border-radius: 12px;

  // Match the size of ClassCard
  max-height: 149px;
  margin-top: 1px;

  transition:
    border .2s;

  &:hover {

    cursor: pointer;
    border: 3px solid $blue;

    .plus-container {
      background-color: $blue;
    }
  }

  .plus-container {
    grid-column: 2 / 2;
    
    justify-self: center;
    align-self: center;

    width: 36px;
    height: 36px;

    background-color: $gray;
    border-radius: 50%;
    
    color: $white;
    font-size: 2em;
    font-weight: 600;
  }
  
  .plus {
    padding: 0;
    margin: 0;

    text-align: center;
  }
}

/*  Mobile  */
@media only screen and (max-width: 399px) {}

/*  Tablet  */
@media only screen and (min-width: 400px) {}

/*  Desktop  */
@media only screen and (min-width: 1200px) {}