@import '../../Stylesheets/all';

@mixin button-color($color, $light-color, $very-light-color) {
    background-position: center;
    border: solid 3px $color;
    color: $color;
    transition: background 0.25s, background-color 0s;

    &:hover {
        border: solid 3px $very-light-color;
        background: $light-color radial-gradient(circle, transparent 1%, $light-color 1%) center / 15000%;
        color: #FFFFFF;
    }

    &:active {
        background-color: $light-color;
        border: solid 3px $light-color;
        background-size: 100%;
        transition: background 0s;
    }

    &:focus {
        box-shadow: $dp-two;
        outline: none;
    }
}

/* Colors Need To Be Dynamic */
.pill-button {
    border: none;
    background-color: transparent;

    text-decoration: none;

    padding: .5em 1em;
    border-radius: 2em;

    opacity: 0.8;

    font-size: 1em;
    font-weight: 700;

    &:hover {
        cursor: pointer;
        opacity: 1.0;
    }
    
    &.red { @include button-color($red, $light-red, $very-light-red) }
    &.blue { @include button-color($blue, $light-blue, $very-light-blue) }
    &.green { @include button-color($green, $light-green, $very-light-green) }
    &.yellow { @include button-color($yellow, $light-yellow, $very-light-yellow) }
    &.gray { @include button-color($gray, $light-gray, $very-light-gray) }
    &.black { @include button-color($black, $light-black, $very-light-black) }
}

/*  Mobile  */
@media only screen and (max-width: 399px) {}

/*  Tablet  */
@media only screen and (min-width: 400px) {}

/*  Desktop  */
@media only screen and (min-width: 1200px) {}
