@import 'src/Stylesheets/all';

.AccountSettingsDropdown-button {
  display: flex;
  align-items: center;
  font-weight: 700;
  color: $gray;
  padding: 0.5em;
  
  .icon {
    vertical-align: middle;
    margin-left: 0.25em;
  }
}

.AccountSettingsDropdownMenu {
  display: grid;
  justify-content: flex-start;
  justify-items: flex-start;

  .delete-button {
    .default {
      display: block;
    }

    .confirmation {
      display: none;
    }

    &.confirm {
      .default {
        display: none;
      }

      .confirmation {
        display: block;
      }
    }
  }
}
