.SelectTest {
  grid-column: 2 / 2;
  
  .loading {
    grid-column: 1 / -1;
    justify-self: center;
  }

  .cards {
    display: grid;
    grid-template-rows: minmax(auto, auto);
    grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
    grid-gap: 1em;
    align-items: center;
    margin-bottom: 2em;
  }

  .student-card-header {
    text-align: center;
  }

  .StudentCard {
    margin: auto;
  }
}

/* Mobile */ 
@media only screen and (max-width: 399px) {}

/* Tablet */ 
@media only screen and (min-width: 400px) {}

/* Desktop */ 
@media only screen and (min-width: 1200px) {}