@import 'src/Stylesheets/all';

.LoginModal {
  grid-column: 1 / -1;
  min-width: 200px;
  min-height: 200px;

  .login-modal-header {
    background-color: $blue;
    color: $white;
  }

  .user-types {
    padding: 0 2em 1em 2em;
  }

  .inputs {
    padding: 1em 2em;
  }

  .sign-log {
    padding: 0 1em 1em 1em;
  }

  .button-row {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(auto-fill, minmax(85px, 1fr));
    grid-gap: 1em;

    .login-modal-button {
      display: flex;
      justify-content: center;
      white-space: nowrap;

      &.active {
        background-color: $blue;
        border: solid 3px $light-blue;
        color: $white;

        &:hover {
          background: none;
          background-color: $light-blue;
          border: solid 3px $very-light-blue;
        }
      }
    }
  }

  .inputs {
    display: grid;
    grid-gap: 1em;

    .error {
      color: $red;
      font-weight: 600;
      text-align: center;
      margin-top: 0;
    }
  }

  .bottom-content {
    display: grid;
    grid-auto-flow: row;
    justify-items: stretch;
    justify-self: center;
    grid-gap: 1em;
    border-top: 1px solid rgba($color: #000000, $alpha: .25);

    .practice-button {
      background-color: $green;
      color: $white;
      border-radius: 12px;
      border-color: 3px transparent;
    }
  }
  
  .sign-up-link {
    margin-bottom: 0;

    a {
      font-weight: bold;
    }
  }

  .loading {
    grid-column: 1 / -1;
    justify-self: center;
    align-self: center;
  }
}
