@import '../../../../Stylesheets/all';

.TakeTest {
  grid-column: 2 / 2;
  justify-self: center;

  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  justify-content: center;

  padding: 1em 2em;

  p {
    font-size: 4em;
    font-weight: 700;

    padding: 0;
    margin: 0;
  }

  .equals {
    display: none;
  }
  
  .question-problem {
    grid-column: 1 / -1;
    grid-row: 1 / 1;

    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 2em;

    max-width: 50%;

    .number-top {
      grid-column: 2 / 2;
      grid-row: 1 / 1;

      direction: rtl;

      color: red;
    }

    .operator {
      grid-column: 1 / 1;
      grid-row: 2 / 2;
    }  

    .number-bottom {
      grid-column: 2 / 2;
      grid-row: 2 / 2;

      direction: rtl;
    }

    .input-answer {
      grid-column: 1 / -1;
      grid-row: 3 / 3;
      width: 100%;
  
      font-size: 4em;
      font-weight: 700;
      color: $black;
  
      border: none;
      outline: none;
      
      border-top: 3px solid black;
    }

    .input-answer:focus {
      caret-color: transparent;
    }
  }

  .keyboard-container {
    grid-column: 1 / -1;
    justify-content: center;
    justify-items: center;
  }

  .button-container {
    grid-column: 1 / -1;

    display: grid;
    grid-template-columns: repeat(3, 1fr);

    .submit-button {
      grid-column: 2 / 2;
      margin: 1em;
    }
  }

  &.active-keyboard {
    .button-container {
      display: none;
    }
  }

  .error {
    grid-column: 1 / -1;
    justify-self: center;
  }
}

/*  Mobile  */
@media only screen and (max-width: 399px) {
  .TakeTest {
    margin-top: -2em;

    grid-column: 2 / 2;
    justify-self: center;
    max-width: 250px;

    grid-template-columns: 3fr 2fr;
    
    box-shadow: none;
    padding: 1em;

    p {
      font-size: 3em;
    }

    .question-problem {
      font-size: 0.75em;
    
      .input-answer {
        font-size: 3em;
      }
    }

    .button-container {
      display: none;
    }
  }
}

/*  Tablet  */
@media only screen and (min-width: 400px) {
  .TakeTest {
    max-width: 600px;
    width: 100%;

    padding: 2em 4em;

    .button-container {
      display: none;
    }
  }
}

@media only screen and (min-width: 500px) { 
  .TakeTest {    
    .button-container {
      display: grid;
    }
  }
}

/*  Desktop  */
@media only screen and (min-width: 1200px) {}