@import 'src/Stylesheets/all';

.ClassesGrid {
  grid-column: 2 / 2;

  display: grid;
  grid-template-rows: minmax(auto, auto);
  grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
  grid-gap: 1em;
  align-items: center;
  align-content: flex-start;

  .title {
    grid-row: 1 / 1;
    grid-column: 1 / -1;

    color: $gray;
  }

  .error {
    grid-column: 1 / -1;
    justify-self: center;
  }

  .loading {
    grid-column: 1 / -1;
    justify-self: center;
  }
}