@import 'src/Stylesheets/all';

.ClassListNotification {
  padding: 0.25em;
  border-radius: 0.25em;
  background-color: $yellow;
  color: $white;
  font-weight: bold;
  font-size: 1em;
  transform: translateY(-0.4em);
  margin-left: 0.25em;
}