@import 'src/Stylesheets/all';

.TestParametersModal {
    grid-column: 2 / 2;
    justify-content: stretch;
    margin-bottom: 2em;

    .parameters-header {
        background-color: $blue;
        color: $white;
    }

    .parameter-content {
        .form {
            display: grid;
            grid-template-areas:
                "durationheader  durationheader  durationheader  durationheader  durationheader"
                "minuteslabel    minuteslabel      secondslabel     secondslabel    secondslabel"
                "minutes          minutes          separator        seconds          seconds"
                "questionsheader questionsheader questionsheader questionsheader questionsheader"
                "questions        questions        questions        questions        questions"
                "randomheader    randomheader    randomheader    randomheader    randomheader"
                "randomtext      randomtext      randomtext      randomtext      randomtext"
                "random           random           random           random           random"
                "operatorsheader operatorsheader operatorsheader operatorsheader operatorsheader"
                "operators        operators        operators        operators        operators"
                "numbersheader   numbersheader   numbersheader   numbersheader   numbersheader"
                "numbers          numbers          numbers          numbers          numbers"
                "numbers          numbers          numbers          numbers          numbers"
                "save             save             save             save             save"
                "cancel           cancel           cancel           cancel           cancel";
            grid-template-columns: repeat(5, 1fr);
            grid-template-rows: auto;
            
            .duration-header {
                grid-area: durationheader;

                margin: 0 0 0.5em 0;
            }

            .minutes-label {
                grid-area: minuteslabel;
            }

            .seconds-label {
                grid-area: secondslabel;
            }

            .minutes {
                grid-area: minutes;
            }

            .separator {
                grid-area: separator;
                margin: 0.25em 0 0 0;
                justify-self: center;
            }

            .seconds {
                grid-area: seconds;
            }

            .questions-header {
                grid-area: questionsheader;

                margin: 1.5em 0 0.5em 0;
            }

            .questions {
                grid-area: questions;
            }

            .random-header {
                grid-area: randomheader;

                margin: 1.5em 0 0.25em 0;
            }

            .random-text {
                grid-area: randomtext;

                margin-top: 0;
                font-size: .75em;
            }

            .random {
                grid-area: random;
            }

            .operators-header {
                grid-area: operatorsheader;

                margin: 1.5em 0 0.5em 0;
            }

            .operators {
                grid-area: operators;

                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-evenly;

                font-size: 2.75rem;
            }
            
            .numbers-header {
                grid-area: numbersheader;

                margin: 1.5em 0 0.5em 0;
            }

            .numbers {
                grid-area: numbers;

                margin: 0 auto;

                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-evenly;

                .select-multiples {
                    background-color: $white;
                    color: $blue;
                    border: none;
                    font-size: 24px;
                    font-weight: 500;

                    width: 42px;
                    height: 42px;

                    margin: 0 0.5em 0.25em 0;

                    border-radius: 50%;

                    &:hover {
                        background-color: $very-light-blue;
                    }

                    &.active {
                        background-color: $blue;
                        color: white;
                    }
                }
            }

            .save {
                grid-area: save;

                margin: 1.5em 0 0.5em 0;
                justify-self: center;
            }

            .cancel {
                grid-area: cancel;
                justify-self: center;

                color: $light-red;
                border: none;
              
                &:hover {
                    color: $red;
                    background-color: transparent;
                }
            }
        }
    }
}
