@import 'src/StyleSheets/all';

.ParentInvite {
  grid-column: 2 / 2;

  table {
    border-collapse: collapse;
    border-spacing: 5px;

    td, th {
      border: 1px solid $gray;
      text-align: center;
      padding: 3px;
    }
  }

  .print-button {
    margin: 1em auto;
  }
}

@media print {
  html, body { 
    height: 100%;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden;
  }

  .Navbar {
    display: none;
  }

  .ParentInvite {
    margin-top: -115px;

    .print-button {
      display: none;
    }
  }
}