@import 'src/Stylesheets/all';

.UpdateStudentModal {
  .header {
    color: $white;
    background-color: $blue;
    padding: 2em;
  }

  .inputs {
    display: grid;
    grid-gap: 1em;

    padding: 2em;
  }

  .error {
    color: $red;
    font-weight: 600;
    text-align: center;
    margin-top: 0;
  }
    
  .bottom-buttons {
    width: 90%;
    margin: auto auto;
    border-top: solid 2px $light-gray;
    padding: 2em 0;

    .cancel-button {
      margin-top: .5em;
      border: none;
    }
  }

  .loading {
    grid-column: 1 / -1;
    justify-self: center;
    align-self: center;
  }
}