@import 'src/Stylesheets/all';

.StudentCard {
    width: 725px;

    grid-column: 1 / -1;
    justify-self: center;

    padding: 1em;
    display: grid;
    grid-gap: 1em;
    grid-template-areas:
        'name           name           name           newtests       newtests       delete'
        'addition       addition       addition       addition       addition       addition'
        'subtraction    subtraction    subtraction    subtraction    subtraction    subtraction'
        'multiplication multiplication multiplication multiplication multiplication multiplication'
        'division       division       division       division       division       division';

    .name {
        grid-area: name;

        margin: 0;
        align-self: center;
    }

    .NewTestsIndicator {
        grid-area: newtests;

        justify-self: center;
    }

    .delete {
        grid-area: delete;

        display: flex;
        
        &:hover {
            cursor: pointer;
        }
        
        .confirmation {
            visibility: hidden;
        }
        
        &.confirm {
            color: $red;
            
            .confirmation {
                visibility: visible;
            }
        }

        &:hover {
            cursor: pointer;
        }
    }

    .OperatorRow {
        &.addition {
            grid-area: addition;
        }

        &.subtraction {
            grid-area: subtraction;
        }

        &.multiplication {
            grid-area: multiplication;
        }

        &.division {
            grid-area: division;
        }
    }
}