@import 'src/Stylesheets/all';

.StudentCard {
    width: 725px;

    grid-column: 1 / -1;
    justify-self: center;

    padding: 1em;
    display: grid;
    grid-gap: 1em;
    grid-template-areas:
        'name           name           name           newtests       newtests       delete'
        'addition       addition       addition       addition       addition       addition'
        'subtraction    subtraction    subtraction    subtraction    subtraction    subtraction'
        'multiplication multiplication multiplication multiplication multiplication multiplication'
        'division       division       division       division       division       division';

    .name {
        grid-area: name;
        margin: 0;
    }

    .NewTestsIndicator {
        grid-area: newtests;

        justify-self: center;
    }

    .number {
        margin: 0 0.5em 0.5em 0;

        display: flex;
        align-content: center;
        justify-content: center;

        border: none;
        font-size: 24px;
        font-weight: 500;

        width: 36px;
        height: 36px;

        border-radius: 50%;

        outline: none;

        &.not-taken {
            background-color: $very-light-gray;
            color: $white;
        }

        &.in-progress {
            background-color: $light-red;
            color: $white;
        }

        &.passed-once {
            background-color: $light-yellow;
            color: $white;
        }

        &.passed-twice {
            background-color: $light-yellow;
            color: $white;
        }

        &.passed {
            background-color: $green;
            color: $white;
        }
    }

    .delete {
        grid-area: delete;

        text-align: end;
        border: none;
        background-color: transparent;
        justify-self: flex-end;    
        margin: 0;
        
        &:hover {
            cursor: pointer;
        }
        
        .confirmation {
            visibility: hidden;
        }
        
        &.confirm {
            color: $red;
            
            .confirmation {
                visibility: visible;
            }
        }

        &:hover {
            cursor: pointer;
        }
    }
}